<html>
    <head>
        <% include ./partials/head %>
        <link rel="stylesheet" href="/static/styles/default-page.css" >
    </head>
    <body>
        <div class="card picture-bg">
            <div class="card-body overlay-bg">
                <h2>Chào lớp học tại</h2>
                <h1>CODESCHOOL.VN</h1>
                <br>
                <br>
                <br>
                <a href="/members" class="btn btn-deep-orange">Xem danh sách lớp</a>
                <br>
                <br>
            </div>
        </div>
            
    </body>
</html>