<html>
<head>
    <% include ./partials/head %>
</head>

<body>
    <div class="card">
        <div class="view-cascade red-gradient">
            <h2>Có lỗi xảy ra</h2>
        </div>
        <h4 class="card-body"><%=(reason ? reason : 'Vui lòng liên hệ với admin để được hỗ trợ') %></h4>
        <div class="card-footer">
            Bấm để <a href="/">quay về trang chủ</a>, nếu trình duyệt không tự chuyển sau 15 giây.
        </div>
    </div>
</body>

</html>
