<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <div class="card">
        <div class="view-cascade blue-gradient">
            <h2>Danh sách lớp NodeJS</h2>
        </div>
        <div class="card-body">
            <!-- <table border="1" cellpadding="10" cellspacing="5"> -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Họ tên</th>
                        <th>Tuổi</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3" style="text-align: right;">
                            <a href="/member-create" class="btn purple-gradient white-link" style="padding: 0.5em 1em;">
                            Thêm thành viên
                            </a>
                        </td>
                    </tr>
                    <% members.map((mem, i) => { %>
                        <tr>
                        <td><%=mem.name%></td>
                        <td><%=mem.age%></td>
                        <td>
                            <a href="/member-detail?id=<%=i%>">Chi tiết</a>
                            &nbsp;
                            <a href="/member-delete?id=<%=i%>">Xóa sổ</a>
                        </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="/">&laquo; Trang chủ</a>
        </div>
    </div>
</body>

</html>